@use "../mixins" as *;

@include use-colors(
    $ignored-colors: (
      "none",
    )
  )
  using ($name, $value) {
  .stroke-#{$name} {
    transition: stroke 0.25s;
    stroke: var(#{$value});

    &--light-50:hover {
      stroke: var(#{$value}--light-50);
    }

    &--dark-50:hover {
      stroke: var(#{$value}--light-50);
    }
  }
}
