.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  flex-grow: 1;
  align-items: center;

  img {
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    min-width: 200px;
  }

  h2,
  p {
    font-size: medium;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: break-spaces;
    max-width: 100%;
  }

  h2,
  p {
    width: 100%;
    box-sizing: border-box;
  }
}
